.Paginate__pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  cursor: pointer;
}

.Paginate__pagination--div > ul {
  list-style: none;
}

.Paginate__pagination--active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  float: left;
  cursor: pointer;
}
.Paginate__pagination--div {
  display: block;
  min-height: 1px;
  overflow: auto;
  padding-left: 35%;
  padding-bottom: 2%;
}

@media screen and (max-width: 740px) {
  .Paginate__pagintion--div {
    padding-left: 14%;
  }
}

@media screen and (max-width: 375px) {
  .Paginate__pagination--div {
    transform: translate(-11%, 0);
  }
}

@media screen and (max-width: 414px) {
  .Paginate__pagination--div {
    transform: translate(-18%, 0);
  }
}
